blockquote,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	background-color: #2f2f2f;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 22px;
}

.header {
	display: flex;
	padding: 24px 20px;
	justify-content: space-between;
}

.header__logo {
	padding: 0;
}

.header__logo-image {
	height: 16px;
	width: 79px;
}

.header-menu {
	row-gap: 12px;
}

.header__menu-list {
	display: grid;
	list-style: none;
	row-gap: 12px;
}

.header__menu-link {
	color: #f5f5f5;
  font-weight: 400;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-transform: none;
}

.header__menu-item_active {
	color: #f5f5f5;
  font-weight: 400;
  text-decoration: none;
  text-transform: none;
}

.cover {
	background-image: url(../images/cover.svg);
	background-repeat: no-repeat;
	background-size: 95%;
	background-position: right;
	min-width: 240px;
	margin: 7px 0px 30px 20px;
}

.cover__title {
	display: flex;
	padding: 7px 24px 30px 20px;
	font-family: 'EB Garamond';
	font-weight: 400;
	font-size: 72px;
	flex-direction: column;
	line-height: 1.0;
}

.accent-span {
	display: block;
}

.text-center {
	text-align: center;
}

.text-right-cover {
	text-align: right;
}

.content-section {
	box-sizing: border-box;
	margin: 0 auto;
	width: 360px;
}

.intro {
	padding: 0px 20px 38px 20px;
}

.intro__heading {
	display: flex;
	justify-content: space-between;
}

.intro__title {
	font-family: 'Inter';
	font-weight: 400;
	font-size: 16px;
	color: #cccccc;
	line-height: 1.2;
}

.intro__date {
	font-family: 'Inter';
	font-weight: 400;
	font-size: 16px;
	color: #cccccc;
	line-height: 1.2;
}

.intro__main-text {
	display: flex;
	font-family: 'Inter';
	font-weight: 400;
	font-size: 16px;
	color: #f5f5f5;
	line-height: 22px;
	gap: 24px;
	flex-direction: column;
	padding-top: 24px;
}

.reasons {
	padding: 40px 20px;
}

.content-section__subtitle {
	display: flex;
	padding: 0;
	font-family: 'EB Garamond';
	font-weight: 500;
	font-size: 28px;
	flex-direction: column;
	line-height: 1.15;
	color: #131313;
}

.text-right {
	text-align: right;
}

.content-section__introduction {
	display: flex;
	font-family: 'Inter';
	font-weight: 400;
	font-size: 20px;
	color: #131313;
	line-height: 27px;
	flex-direction: row;
	margin-top: 32px;
	margin-bottom: 32px;
}

.content-section__list {
	display: flex;
	flex-direction: column;
	padding: 0px;
	gap: 16px;
	list-style: disc;
	padding-left: 16px;
}

.content-section__list-accent {
	font-family: "Inter";
	font-weight: 700;
	font-size: 16px;
	color: #131313;
}

.content-section__list-item {
	font-family: "Inter";
	font-weight: 400;
	font-size: 16px;
	color: #131313;
	line-height: 22px;
}

.how-to {
	padding: 40px 20px 60px 20px;
}

.how-to-content-section__subtitle {
	display: flex;
	font-family: 'EB Garamond';
	font-weight: 500;
	font-size: 28px;
	flex-direction: column;
	line-height: 1.15;
	color: #f5f5f5;
}

.how-to-content-section__introduction {
	display: flex;
	font-family: 'Inter';
	font-weight: 400;
	font-size: 20px;
	color: #f5f5f5;
	line-height: 1.35;
	flex-direction: row;
	margin-top: 32px;
	margin-bottom: 32px;
}

.cards-list {
	display: flex;
	flex-direction: column;
	list-style: none;
	row-gap: 32px;
}

.card {
  border-radius: 30px;
	min-width: 250px;
	padding: 20px;
}

.card_theme_dark {
	background-color: #343434;
	color: #f5f5f5;
}

.card__content {
  display: block;
}

.card__author-photo {
	height: 100px;
	width: 100px;
  margin-bottom: 8px;
}

.card__author-name {
	font-family: 'Inter';
	font-weight: 700;
	font-size: 16px;
	line-height: 1.35;
  margin-bottom: 8px;
}

.card__title {
	font-family: 'EB Garamond';
	font-weight: 500;
	font-size: 22px;
	line-height: 1.35;
	margin-bottom: 8px;
}

.card__text {
	font-family: 'Inter';
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	text-align: left;
}

.blockquote__content {
  display: inline;
}

.card_text-only {
	border-radius: 30px;
	min-width: 250px;
	padding: 20px;
}

.card_theme_bright {
	background-color: #fee42a;
	color: #131313;
}

.content-section_theme_dark {
	background-color: #131313;
	color: #ffffff;
}

.content-section_theme_bright {
	background-color: #fee42a;
	color: #000000;
}

.footer {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	border-top: 1px solid #fee42a;
}

.footer__copy {
	font-family: 'Inter';
	font-weight: 400;
	font-size: 16px;
}

.footer__links {
	display: flex;
	flex-direction: row;
	gap: 16px;
	list-style: none;
	font-family: 'Inter';
	font-weight: 400;
	font-size: 14px;
	line-height: 1.25;
}
